.singlePage{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E5E5E5;
    font-family: 'Poppins', sans-serif;
}

.page{
    height: 80vh;
    width: 35vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 61px 61px 18px -50px rgba(0,0,0,0.29);
    &__header{
        flex-basis: 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 10%;
        font-size: 30px;
    }
    &__body{
        display: flex;
        justify-content: center;
        align-items: center;
      
        flex-basis: 85%;
        &-text{
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 80%;
        }
    }
    &__folder--solid{
       
        height: 100%;
        width: 20%;
        display: flex;
        justify-content: flex-end;
        background-color: #A6DEFE;

    }

}    .page__folder--trans{
        
        height: 100%;
        width: 100%;
        background-color: #E5E5E5;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
    }